{% extends 'base.html.twig' %}

{% block title %}Delivery index{% endblock %}

{% block content %}

    <div class="page-header">
        <h2><i class="fas fa-box fa-fw"></i>Deliveries</h2>
        <div class="controls-container">
            <a href="{{ path('delivery_new') }}">Create new</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Label</th>
            <th>Ordered atw</th>
            <th>Weight</th>
            <th>Recipient</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for delivery in pagination %}
            <tr style="cursor: pointer" onClick="setMapView({{delivery.recipientLat}},{{delivery.recipientLng}})" >
                <td>{{ delivery.id }}</td>
                <td>{{ delivery.status }}</td>
                <td>{{ delivery.label }}</td>
                <td>{{ delivery.createdAt ? delivery.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ delivery.weight }}</td>
                <td>{{ delivery.recipientInformation }}</td>
                <td>
                    <a href="{{ path('delivery_show', {'id': delivery.id}) }}"><i class="fas fa-box fa-fw"></i></a>
                    <a href="{{ path('delivery_edit', {'id': delivery.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
                    <a href="{{ path('delivery_inquiry', {'id': delivery.id}) }}"><i class="fas fa-envelope fa-fw"></i></a>
                    {% if is_granted('ROLE_WAREHOUSE_WORKER') %}
                        <a href="{{ path('delivery_assign_to_warehouse', {'id': delivery.id}) }}">assign</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="display:flex;justify-content:center;align-items:center;">
        <div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}

{% block sideContent %}
    <div class="map" id="main-map"></div>
    <script src="/leaflet-routing-machine.min.js"></script>

    <script>
        const map = L.map("main-map").setView([54.897581, 23.909723], 13);


        const icon = L.icon({
            iconUrl: '/icons/svgs/solid/box.svg',
            shadowUrl: '/icons/svgs/solid/box.svg',

            iconSize: [30, 30], // size of the icon
        });



        {% for delivery in pagination %}
        L.marker([{{ delivery.recipientLat }},{{ delivery.recipientLng }}], {icon: icon}).addTo(map);

        {% endfor %}



        L.tileLayer(
            "https://api.maptiler.com/maps/basic/{z}/{x}/{y}.png?key=ltrALA6k9d2bkEeRn8Fn",
            {
                attribution:
                    '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>'
            }
        ).addTo(map);

        const setMapView = (lat, long) => {
            map.setView([lat, long], 15);
        };

        // L.Routing.control({
        //     waypoints: [
        //         L.latLng(54.897581, 23.909724),
        //         L.latLng(54.897581, 23.919724)
        //     ],
        //     createMarker: () => marker,
        //     routeWhileDragging: true
        // }).addTo(map);

    </script>
{% endblock %}

