{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block content %}

    <div class="page-header">
        <h2><i class="fas fa-car fa-fw"></i>Cars </h2>
        <div class="controls-container">
            <a href="{{ path('car_new') }}" class="mb-2">Create new</a>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Courier</th>
                <th>WeightCategoty</th>
                <th>PlateNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.courier.baseuser.username|default("NONE") }}</td>
                <td>{{ car.weightCategoty }}</td>
                <td>{{ car.plateNumber }}</td>
                <td>
                    {% if is_granted('ROLE_COURIER') %}
                        <a href="{{ path('car_assign', {'id': car.id}) }}">assign me</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
